<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>diary</title>
      <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
      <link rel="stylesheet" href="../../assets/stylesheets/position.css">
  </head>
  <body>
    <h2>編集する</h2>
    <div class = "form">
    <%= render 'form' %>
    </div>
    <div class = "buttons">
    <%= link_to "戻る", posts_path %>
    </div>
  </body>
</html>